*{

.mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}
.header{
    width: 1440px;
/* height: 6940px; */
}
.f-h3{
    padding-top: 106px;
}
.first-p{
    margin-top: 24px;
}

.f-p{
    color: #131318;
font-size: 36px;
font-weight: 800;
}
.f-span{
    color: #FF5400;
font-size: 36px;
font-weight: 800;

}
.f-div{
    display: flex;
    gap: 16px;
    margin-top: 52px;
    margin-left: 135px;
}
.f-img{
    width: 48px;
height: auto;

}
.first-nav{
    display: flex;
 margin-top: 80px;
 color: #424247;
font-size: 18px;
font-weight: 400;
margin-left: 258px;
gap: 44px;

}
.f-container{
    display: flex;
    /* justify-content: space-between; */
}
.another-nav{
    color: #FF5400;
font-size: 18px;
font-weight: 700;

}
.section{
    width: 100%;
}

.first-section{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1170px;
height: 500px;
flex-shrink: 0;

margin-left: 135px;
}
.last-div{
 /* width: 768px;
 height: 52px; */
background: #FFFFFF4D;
border-radius: 8px;

}
.last-div-1{
    display: flex;
    gap: 24px;
    padding-left: 185px;
    /* padding-right: 185px; */
}
.last-div-1 .where{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
color: #13131880;
font-weight: 400;
font-size: 16px;
padding: 16px;
}
.last-div-1 .when{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
color: #13131880;
font-weight: 400;
font-size: 16px;
padding: 16px;
}
.last-div-1 .select{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
color: #13131880;
font-weight: 400;
font-size: 16px;
padding: 16px;
}
.last-div .find{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
padding: 16px;
font-size: 16px;
font-weight: 700;

}
.f-h3{
    color: #FFF;
font-size: 64px;
font-weight: 800;

}
.first-p{
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.first-section{
    text-align: center;
}
.second-h3{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.second-p{
    color:#131318B3;
    font-size: 16px;;
font-weight: 400;
line-height: 26px;
width: 577px;
}
.second-another p,ul{
    color:#131318B3;
    font-size: 16px;;
font-weight: 400;
line-height: 26px;
}
.second-another-p{
    width: 530px;
}
.second-another ul{
    width: 525px;
}
.second-btn{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
;
}
.second-img{
    border-radius: 16px;
    width: 540px;
height: 550px;
flex-shrink: 0;
margin-left: 60px;
}
.second-div{
    display: flex;
    margin-top: 100px;
    margin-left: 135px;
}
.third-section{
    margin-left: 135px;
}

.third-section-h3{
    color: #131318;
font-size: 40px;
font-weight: 800;
margin-left: 480px;
}
.third-section-p{
    width: 643px;
    color: #131318B3;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-left: 398px;
}

.grid{
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
flex-shrink: 0;
}
.grid p{
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
margin-top: 132px;

}
.grid-1{
    background-image: url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
flex-shrink: 0;
}
.grid-1 p{
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
margin-top: 133px;

}
.god-grid{
display: flex;
gap: 24px;
}
.third-section{
   margin-top: 100px;
}
.god-grid-1{
display: flex;
gap: 24px;
margin-top: 24px;
}
.grid-2{
    width: 374px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
background-image: url(../Images/Rectangle\ 6.png);
}
.grid-2 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 126px;
}
.grid-3{
    width: 474px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
background-image: url(../Images/Rectangle\ 7.png);
}
.grid-3 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 126px;
}
.grid-4{
    width: 274px;
height: 286px;
flex-shrink: 0;
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 9.png);
}
.grid-4 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 126px;
}
.god-grid-2{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.grid-5{
    width: 473px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 11.png);
}
.grid-5 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 133px;
}
.grid-6{
    width: 673px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 10.png);
}
.grid-6 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 133px;
}
.fourth-section-div h3{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.fourth-section-div p{
    color: #131318B3;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.fourth-section-div{
    gap: 24px;
}
.card-1{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #FBB56333;
background: #FBB5630D;
padding-left: 32px;
padding-top: 32px;
}
.card-1 h3{
    color: #131318;
font-size: 24px;
font-weight: 800;

}
.card-1 p{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 486px;
}
.card-2{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #29CEF633;
background: #29CEF60D;
padding-left: 32px;
padding-top: 32px;
}
.card-2 h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.card-2 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px; 
}
.card{
    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-left: 135px;
}
.card-3{
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #E9444433;
    background: #E944440D;
    padding-left: 32px;
    padding-top: 32px;
}
.card-3 h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.card-3 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px; 
}
.new-card{
    margin-top: 24px;
    margin-left: 433px;
}
.deal h3{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.deal p{
    width: 643px;
    color: #131318B3;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-left: 398px;
}
.banner{
background-image: url(../Images/Group\ 39.png);
background-repeat: no-repeat;
width: 1170px;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
margin-left: 135px;
}
.banner-div i{
    padding-top: 16px;

}
.banner-div p{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
}
.banner-div{
    display: flex;
    gap: 18px;
  
}
.banner-card{
    width: 579px;
height: 389px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: #FFFFFFCC;
margin-left: 530px;
padding-left: 50px;

}

.exclusive h3{
    color: #131318;
font-size: 24px;
font-weight: 800;
}
.exclusive p{
    width: 452px;
    color: #5A5A5D;
font-size: 16px;
margin-top: 16px;
font-weight: 400;
line-height: 26px; 
}
.exclusive-span{
    color: #FF5400;
font-size: 20px;
font-weight: 800;
}
.exclusive-btn{
    width: 150px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;

}
.banner,.banner-card{
   padding-top: 50px;
}
.banner-1{
    background-image: url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    width: 1170px;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
margin-left: 135px;

}
.banner-div-1 i{
    padding-top: 16px;

}
.banner-div-1 p{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
}
.banner-div-1{
    display: flex;
    gap: 18px;
  
}
.banner-card-1{
    width: 579px;
height: 389px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: #FFFFFFCC;
margin-left: 56px;
padding-left: 50px; 

}
.banner-1,.banner-card-1{
    padding-top: 50px;
}
.package-button{
    width: 210px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
font-size: 20px;
margin-top: 48px;
margin-left: 535px;
padding: 14px 21px;


}
.fifth-div{
    display: flex;
    margin-top: 113px;
    gap: 28px;
    margin-left: 135px;
}
.new-background{
    background-image: url(../Images/Group\ 40089.png);
    background-repeat: no-repeat;
    width: 610px;
height: 424px;
flex-shrink: 0;

}
.new-fifth-div h3{
    color: #131318;
font-size: 40px;
font-weight: 800;
line-height: 60px;
width: 448px;
}
.new-fifth-div p{
    width: 532px;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.new-fifth-div ul{
    width: 518px;
    color: #131318;
font-size: 16px;
font-weight: 700;
line-height: 26px;
}
.new-fifth-div{
    gap: 24px;
}
.new-fifth-div button{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;

}
.news-letter-div{
    width: 1440px;
background: #FFF;
}
.news-letter-div input{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
display: flex;
margin-top: 16px;
}
.news-letter-div button{
    margin-top: 24px;
}
.raw{
    background-image: url(../Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    width: 672px;
height: 422px;
border-radius: 16px;
padding-left: 670px;

}
 .new-sub{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
padding: 14px;

font-size: 20px;
font-weight: 800;

}
.news-letter{
    display: flex;
    margin-left: 135px;
    margin-top: 100px;

}
.new-raw p{
    width: 324px;
height: 120px;
border-radius: 16px;
background: #FF5400;
padding-top: 50px;
}
.new-raw p span{
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
padding: 40px;
}
.raw .raw-span{
    color: #FFF;
font-size: 32px;
font-weight: 800;
text-align: center;
padding: 45px;
}
.exclusive-raw{
    margin-left: 700px;
  
}
.footer{
    /* width: 1440px; */
background: #1313180D;


}
.footer-p{
    color: #131318;
font-size: 36px;
font-weight: 800;
}
.footer-span{
    color: #FF5400;
font-size: 36px;
font-weight: 800;

}
.footer-div{
    display: flex;
    gap: 16px;
  padding-top: 110px;
 padding-left: 660px;

}
.footer-img{
    width: 48px;
height: auto;

}
.first-footer p{
    width: 769px;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding-left: 350px;
margin-top: 15px;
margin-bottom: 33px;
}
.footer-img i{
  
    /* margin-left: 633px; */
    margin-top: 23px;
}
.footer-img{
    display: flex;
    gap: 0px;
}
.footer-img-1{
    display: flex;
    margin-left: 700px;
    gap: 23px;
}
.new-hr{
    width: 872px;
height: 1px;
}
.last-tag p{
    color: #131318;
font-size: 16px;
font-weight: 300;
padding-left: 700px;

}

