*{

.mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}
.header{
    width: 1440px;
/* height: 6940px; */
}


.f-p{
    color: #131318;
font-size: 36px;
font-weight: 800;
}
.f-span{
    color: #FF5400;
font-size: 36px;
font-weight: 800;

}
.f-div{
    display: flex;
    gap: 16px;
    margin-top: 52px;
    margin-left: 135px;
}
.f-img{
    width: 48px;
height: auto;

}
.first-nav{
    display: flex;
 margin-top: 80px;
 color: #424247;
font-size: 18px;
font-weight: 400;
margin-left: 258px;
gap: 44px;

}
.f-container{
    display: flex;
    /* justify-content: space-between; */
}
.another-nav{
    color: #FF5400;
font-size: 18px;
font-weight: 700;

}
.section{
    width: 100%;
}

.first-section{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1170px;
height: 500px;
flex-shrink: 0;

margin-left: 135px;
}
.f-h3{
    color: #FFF;
font-size: 64px;
font-weight: 800;

}
.first-p{
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.first-section{
    text-align: center;
}
.second-h3{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.second-p{
    color:#131318B3;
    font-size: 16px;;
font-weight: 400;
line-height: 26px;
width: 577px;
}
.second-another p,ul{
    color:#131318B3;
    font-size: 16px;;
font-weight: 400;
line-height: 26px;
}
.second-another-p{
    width: 530px;
}
.second-another ul{
    width: 525px;
}
.second-btn{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
;
}
.second-img{
    border-radius: 16px;
    width: 540px;
height: 550px;
flex-shrink: 0;
margin-left: 60px;
}
.second-div{
    display: flex;
    margin-top: 100px;
    margin-left: 135px;
}
.third-section{
    margin-left: 135px;
}

.third-section-h3{
    color: #131318;
font-size: 40px;
font-weight: 800;
margin-left: 480px;
}
.third-section-p{
    width: 643px;
    color: #131318B3;
    font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-left: 398px;
}

.grid{
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
flex-shrink: 0;
}
.grid p{
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
margin-top: 132px;

}
.grid-1{
    background-image: url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
flex-shrink: 0;
}
.grid-1 p{
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
margin-top: 133px;

}
.god-grid{
display: flex;
gap: 24px;
}
.third-section{
   margin-top: 100px;
}
.god-grid-1{
display: flex;
gap: 24px;
margin-top: 24px;
}
.grid-2{
    width: 374px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
background-image: url(../Images/Rectangle\ 6.png);
}
.grid-2 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 126px;
}
.grid-3{
    width: 474px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
background-image: url(../Images/Rectangle\ 7.png);
}
.grid-3 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 126px;
}
.grid-4{
    width: 274px;
height: 286px;
flex-shrink: 0;
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 9.png);
}
.grid-4 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 126px;
}
.god-grid-2{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.grid-5{
    width: 473px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 11.png);
}
.grid-5 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 133px;
}
.grid-6{
    width: 673px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: url(../Images/Rectangle\ 10.png);
}
.grid-6 p{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 133px;
}
